
.name{
	margin-top: 10px;
	font-size: 25px;
	color: #22581c;
}
#services{
	background-color: red;
}
#soundcloud{
	margin-top: 35%;
	margin-left: 4%;
}
#farmPic{
	border-radius: 20%;
}
#livePic{
	border-radius: 20%;
}
#emailSubmit{
	padding: 4px 8px;
    font-size: 13px;
    background-color: white;
    color:green;
}
.item.active{
	margin-left: 10%;
	padding-top: 5%;
	padding-bottom: 5%;
	
}
h3{
	margin-left: 58%;
	margin-right: -17%;
	
}
.description{
	margin-left: 62%;
	margin-right: -17%;
	color: #444444;
	font-size: 17px;
	margin-bottom: 3%;
}
.carousel-caption{
	text-shadow: none;
}
.liveLink{
	margin-left: 7%;
	font-size: 20px;
}
.githubLink{
	margin-left: 10%;
	margin-right: -7%;
	font-size: 20px;
}
.carousel-caption{
	margin-bottom: 15%;
}
#BTF, #burgerLink, #bamazon{
	margin-left: 37%;
}
#contact{
	background-image: url('../img/tropical_back.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;

}
.heading{
	color: black;
}
label{
	font-size: 22px;
	color: black;
}
.portPic{
	height: 240px;

}
#atags{
	line-height: 0;
	margin-bottom: 7%;
}
iframe{
	margin-top: 10%;
	margin-left: 0%;
}
.bio{

}
#origRem{
	max-height: 20%;
}
#paperProtoBas{
	width: 124%;
	margin-top: 23%;
	margin-left:-75%; 
}
#paperProtoPro{
	margin-left: -57%;
	width:115%;
	margin-top: 23%;
}
#projDetails{
	margin-bottom: 8%;
}
#theProblem{

}






@media screen and (max-width: 768px){
	#soundcloud{
		margin-right: 6%;
	}
	.bamazon{
		width:92%;
	}
	.description{
		display:none;
	}
	h3.projTitle{
		display: none;
	}
	.githubLink{
		font-size: 16px;
		margin-left: 10%;
	}

	.liveLink{
		font-size: 16px;
	}
	.portPic{
		height: 182px;
	}
	#burgerLink, #BTF, #bamazon{
		margin-left: 27%;
	}
	#origRem{
		width: 44%;
		margin-top: 12%;
	}

	#theProblem{
		margin-left: 36%;
		margin-top: -83%;
		margin-right: 4%;
	}
	#paperProtoBas{
		width: 30%;
		margin-left: 34%;
		margin-top: -85%;

	}
	#paperProtoPro{
		width: 28%;
		margin-left: 67%;
		margin-top: -91%;

	}
	#solution{
		width: 35%;
	}
	#protoBasView{
		width: 180px;
	}
	#proView{
		width: 180px;
		margin-left: 32%;
		margin-top: -361px;
	}
	
	#qwert{
		width: 260px;
		margin-left: 63%;
		margin-top: -48%;
	}
	#proImg{
		width: 179px;
	}
	#qwertPic{
		width: 78%;
	}


}

@media screen and (max-width: 640px){
	.jobTitle{
		font-size: 20px;
	}
	.projDesc{
		font-size: 14px;
	    margin-right: 4%;
	}
	.portPic{
		height:196px;
		margin-left: -5px;
		
	}
	.githubLink{
		font-size: 14px;
	}
	.liveLink{
		font-size: 14px;
	}
	#atags{
	    line-height: 0;
    	margin-bottom: 6%;
    	margin-left:1%;
    	margin-right:7%;
	}
	label{
		font-size: 16px;
	}
	#atags{
		margin-bottom: 14%;
	}
	.remoteRedesign{
		margin-left: -67%;
	}
	.profiles{
		margin-left: -68%;
	}
	#solution{
		width:97%;
	}
	#paperProtoBas{
	    width: 90%;
	    margin-left: 6%;
	    margin-top: -9%;
	}
	#paperProtoPro{
	  	width: 90%;
	    margin-left: 6%;
	    margin-top: 5%;
	}
	#protoBasView{
	    width: 91%;
	    margin-left: 6%;
	    margin-top: 5%;
	}
	#proImg{
		width: 207%;
	    margin-left: -65%;
	    margin-top: 244%;
	}
	#qwertPic{
	    width: 135%;
	    margin-left: -93%;
	    margin-top: 81%;
	}
	.title1{
		margin-left: 6%;
	}
	.title2{
		margin-left: -64%;

	}
	.title3{
		margin-left: -93%;
		margin-right: 33%;
	}
	.application{
		margin-left: 10%;
	}

}



